<!--head-->
<meta charset="utf-8"/>
<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
<meta name="apple-mobile-web-app-capable" content="no"/>
<meta name="apple-mobile-web-app-status-bar-style" content="black"/>
<meta http-equiv="X-UA-Compatible" content="IE=Edge，chrome=1">
<meta name="keywords" content="蒋登强的个人博客，与前端爱好者共同进步的网站，学习各种前端框架。"/>
<meta name="description" content="蒋登强的个人博客，与前端爱好者共同进步的网站，互相学习，让初学者能看到易学易懂的代码，让中级前端偶尔能开阔一下视野，让高级前端在这里能够轻松体验。"/>