<!--nav-->
<div class="header">
    <div class="container">
        <div class="row">
            <a href="../home/index.html" class="logo"><img src="../images/logo.png"/></a>
            <div class="user">
                <a href="#" class="login"><i class="glyphicon glyphicon-user"></i>登录</a>
                <a href="#" class="register"><i class="glyphicon glyphicon-flash"></i>快捷注册</a>
            </div>
        </div>
    </div>
</div>
<div class="nav_link">
    <span></span>
    <span></span>
    <span></span>
</div>
<div class="menu">
    <div class="nav_layer"></div>
    <nav class="nav">
        <a href="../home/index.html">My blog sprce</a>
        <a href="#">Jquery application</a>
        <a href="#">About me</a>
        <a href="#">Other frame</a>
    </nav>
</div>
</div>
