<html>
<head>
{% include "../templates/layouts/head.html" %}
<link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css?__inline">
<link rel="stylesheet" href="../css/index.css"/>
<title></title>
<style>
    body { padding-top: 130px;}
</style>
</head>
<body class="new-bg">
    {% include "../templates/layouts/nav.html" %}
    <section class="container">
        <div class="row list_search">
            <div class="col-md-6">
                <div class="search">
                    <input type="text" class="search_text" placeholder="搜索你想要的！">
                    <button class="search_btn"></button>
                </div>
            </div>
        </div>
        <div class="bread_crumb">
            <ul class="crumbs">
                <li><a href="../home/index.html">首页</a>/</li>
                <li><span>Jquery</span>/</li>
            </ul>
            <div class="search_end">为你搜到了<span>12</span>个相关的结果</div>
        </div>
        <div class="list-box">
            <div class="row">
                <div class="col-md-3">
                    <div class="list">
                        <a href="#">
                            <img src="http://via.placeholder.com/350x150">
                            <div class="list-txt">
                                <h3><span>Jquery</span>的实例</h3>
                                <small>Materialize管理模板基于谷歌Material设计，一个多用途管理模板。</small>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="list">
                        <a href="#">
                            <img src="http://via.placeholder.com/350x150">
                            <div class="list-txt">
                                <h3><span>Jquery</span>的实例</h3>
                                <small>Materialize管理模板基于谷歌Material设计，一个多用途管理模板。</small>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="list">
                        <a href="#">
                            <img src="http://via.placeholder.com/350x150">
                            <div class="list-txt">
                                <h3><span>Jquery</span>的实例</h3>
                                <small>Materialize管理模板基于谷歌Material设计，一个多用途管理模板。</small>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="list">
                        <a href="#">
                            <img src="http://via.placeholder.com/350x150">
                            <div class="list-txt">
                                <h3><span>Jquery</span>的实例</h3>
                                <small>Materialize管理模板基于谷歌Material设计，一个多用途管理模板。</small>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="list">
                        <a href="#">
                            <img src="http://via.placeholder.com/350x150">
                            <div class="list-txt">
                                <h3><span>Jquery</span>的实例</h3>
                                <small>Materialize管理模板基于谷歌Material设计，一个多用途管理模板。</small>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="list">
                        <a href="#">
                            <img src="http://via.placeholder.com/350x150">
                            <div class="list-txt">
                                <h3><span>Jquery</span>的实例</h3>
                                <small>Materialize管理模板基于谷歌Material设计，一个多用途管理模板。</small>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="list">
                        <a href="#">
                            <img src="http://via.placeholder.com/350x150">
                            <div class="list-txt">
                                <h3><span>Jquery</span>的实例</h3>
                                <small>Materialize管理模板基于谷歌Material设计，一个多用途管理模板。</small>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="list">
                        <a href="#">
                            <img src="http://via.placeholder.com/350x150">
                            <div class="list-txt">
                                <h3><span>Jquery</span>的实例</h3>
                                <small>Materialize管理模板基于谷歌Material设计，一个多用途管理模板。</small>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="list">
                        <a href="#">
                            <img src="http://via.placeholder.com/350x150">
                            <div class="list-txt">
                                <h3><span>Jquery</span>的实例</h3>
                                <small>Materialize管理模板基于谷歌Material设计，一个多用途管理模板。</small>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="list">
                        <a href="#">
                            <img src="http://via.placeholder.com/350x150">
                            <div class="list-txt">
                                <h3><span>Jquery</span>的实例</h3>
                                <small>Materialize管理模板基于谷歌Material设计，一个多用途管理模板。</small>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="list">
                        <a href="#">
                            <img src="http://via.placeholder.com/350x150">
                            <div class="list-txt">
                                <h3><span>Jquery</span>的实例</h3>
                                <small>Materialize管理模板基于谷歌Material设计，一个多用途管理模板。</small>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="list">
                        <a href="#">
                            <img src="http://via.placeholder.com/350x150">
                            <div class="list-txt">
                                <h3><span>Jquery</span>的实例</h3>
                                <small>Materialize管理模板基于谷歌Material设计，一个多用途管理模板。</small>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <ul class="jdq-btn-box btn-ui-list9 page-btn">
                <li class="prev"><a href="javascript:void(0);"><i class="glyphicon glyphicon-menu-left"></i><span>上一页</span></a></li>
                <li class="next"><a href="javascript:void(0);"><i class="glyphicon glyphicon-menu-right"></i><span>下一页</span></a></li>
            </ul>
        </div>
    </section>
    {% include "../templates/layouts/footer.html" %}
</body>
{% include "../templates/partials/js.html" %}
<script type="text/javascript" src="../js/index.js"></script>
<script type="text/javascript">
    function reinitIframe(){
        var iframe = document.getElementById("test");
        try{
            var bHeight = iframe.contentWindow.document.body.scrollHeight;
            var dHeight = iframe.contentWindow.document.documentElement.scrollHeight;
            var height = Math.max(bHeight, dHeight);
            iframe.height = height;
        }catch (ex){}
    }
    window.setInterval("reinitIframe()", 200);
</script>
</html>