@font-face { font-family: 'Monk'; src: url("../fonts/Monk.otf");
  /* IE9 Compat Modes */
src: url("../fonts/Monk.otf?#iefix") format("embedded-opentype"), url("../fonts/monk-webfont.woff2") format("woff2"), url("../fonts/monk-webfont.woff") format("woff"), url("../fonts/Monk.ttf") format("truetype"); font-style: normal; font-weight: normal; text-rendering: optimizeLegibility; }
/*
@mixin bgLinear($Yvalue,$Scolor,$Ecolor) {background-image:-webkit-linear-gradient($Yvalue, $Scolor, $Ecolor); background-image:-moz-linear-gradient($Yvalue,$Scolor, $Ecolor); background-image:-o-linear-gradient($Yvalue,$Scolor, $Ecolor);background-image:-ms-linear-gradient($Yvalue,$Scolor, $Ecolor); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$Scolor', endColorstr='$Ecolor'); -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='$Scolor', endColorstr='$Ecolor')"; }
*/
abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, html, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video { cursor: url(../images/cursor.ico), auto; }

/*common css*/
html { font-size: 100%; }

body { font-family: "Monk",Microsoft Yahei,Arial, Helvetica, sans-serif; font-size: 100%; }

a, a:visited, a:hover, a:active, a:focus { color: #404042; outline: none !important; text-decoration: none; }

ul, li { list-style: none; padding: 0; margin: 0; }

h1, h2, h3, h4, h5, h6 { margin: 0; padding: 0; }

input, button { outline: 0; }

img { height: auto; max-width: 100%; vertical-align: middle; border: 0; -ms-interpolation-mode: bicubic; }

section { position: relative; }

.clear:after, .tags:after { content: ""; clear: both; display: block; height: 0; }

/*index css*/
.top { position: relative; background: url(../images/top.jpg) no-repeat; height: 700px; background-size: cover; background-position: center; background-attachment: fixed; }

.top .top_bg { position: absolute; background-color: #000; opacity: 0.4; height: 100%; top: 0px; left: 0; width: 100%; }

.top .title { color: #fff; font-size: 4.375em; text-align: center; margin: 0; position: absolute; bottom: 260px; left: 0; right: 0; }

/*.head_nav { height: 120px; position: fixed; top: 0px; left: 0px; width: 100%; z-index: 10;
}
.head_nav.top .top_bg{ opacity: 1;
}
.head_nav .nav_link { top: 20px; left: 80px; width: 80px; height: 80px; padding: 25px 0;
}
.head_nav.top .title { display: none;
}*/
/*nav*/
.nav_layer { height: 100%; background-color: #333; opacity: 0.9; z-index: 11; box-shadow: inset 1px 0px 150px #fff; -webkit-box-shadow: inset 1px 0px 150px #fff; -moz-box-shadow: inset 1px 0px 150px #fff; }

.nav { position: absolute; top: 20%; left: 0; right: 0; z-index: 12; }

.nav a { display: block; text-align: center; font-size: 2.5em; color: #fff; line-height: 1.7; text-shadow: 16px 2px 15px #000; padding: 20px 0; }

.nav_link { position: fixed; top: 100px; right: 80px; width: 100px; height: 100px; border-radius: 100%; background-color: #000; padding: 34px 0; cursor: pointer; box-shadow: 5px 0px 20px #666; z-index: 20; }

.open { background-color: transparent; box-shadow: none; }

.open span:nth-child(2) { display: none; }

.open span:first-child { transform: rotate(-45deg) translate(-25%, 50%); -webkit-transform: rotate(-45deg) translate(-25%, 50%); -moz-transform: rotate(-45deg) translate(-25%, 50%); }

.open span:last-child { transform: rotate(45deg) translate(-15%, -25%); -webkit-transform: rotate(45deg) translate(-15%, -25%); -moz-transform: rotate(45deg) translate(-15%, -25%); }

.menu { position: fixed; top: 0; left: 0; bottom: 0; width: 0; transition: all 0.3s; overflow: hidden; }

.menu.menu_run { width: 100%; display: block; -webkit-animation: menu_run 1s; -moz-animation: menu_run 1s; -ms-animation: menu_run 1s; }

@keyframes menu_run { 0% { transform: rotate3d(10, -15, 0, -90deg); opacity: 0; }
  50% { transform: rotate3d(0, -15, 0, 30deg); opacity: 0.5; }
  100% { transform: rotate3d(0, 0, 0, 0deg); opacity: 1; } }
@-moz-keyframes menu_run { 0% { -moz-transform: rotate3d(10, -15, 0, -90deg); opacity: 0; }
  50% { -moz-transform: rotate3d(0, -15, 0, 30deg); opacity: 0.5; }
  100% { -moz-transform: rotate3d(0, 0, 0, 0deg); opacity: 1; } }
@-webkit-keyframes menu_run { 0% { -webkit-transform: rotate3d(10, -15, 0, -90deg); opacity: 0; }
  50% { -webkit-transform: rotate3d(0, -15, 0, 30deg); opacity: 0.5; }
  100% { -webkit-transform: rotate3d(0, 0, 0, 0deg); opacity: 1; } }
.nav_link > span { display: block; width: 30px; height: 6px; background-color: #fff; margin: 0 auto 6px; cursor: pointer; transition: all 0.3s; -webkit-transition: all 0.3s; -moz-transition: all 0.3s; }

.author { width: 300px; height: 300px; border: 8px solid #fff; border-radius: 100%; margin: -150px auto 30px; overflow: hidden; box-shadow: 0px 10px 30px #666; }

.j_moudel_box1 { text-align: center; padding-bottom: 60px; }

.j_moudel_box1 p { margin-bottom: 20px; font-size: 1.125em; }

.share li { display: inline-block; }

.share a, .share_news a { display: inline-block; margin-right: 10px; }

.share_news { float: right; margin-top: 12px; }

.share a.qq, .share_news a.qq { width: 9px; height: 18px; background-image: url('../images/sprite-icon.png'); background-position: 0 -46px; background-repeat: no-repeat; }
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx), (max-width: 767px) { .share a.qq, .share_news a.qq { background-image: url('../images/sprite-icons-2x.png'); background-size: 18px 45px; background-position: -9px 0; height: 9px; width: 4.5px; } }

.share a.wx, .share_news a.wx { width: 16px; height: 13px; background-image: url('../images/sprite-icon.png'); background-position: 0 0; background-repeat: no-repeat; }
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx), (max-width: 767px) { .share a.wx, .share_news a.wx { background-image: url('../images/sprite-icons-2x.png'); background-size: 18px 45px; background-position: 0 -19px; height: 6.5px; width: 8px; } }

.share a.wb, .share_news a.wb { width: 19px; height: 19px; background-image: url('../images/sprite-icon.png'); background-position: 0 -64px; background-repeat: no-repeat; }
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx), (max-width: 767px) { .share a.wb, .share_news a.wb { background-image: url('../images/sprite-icons-2x.png'); background-size: 18px 45px; background-position: -8px -9px; height: 9.5px; width: 9.5px; } }

.share a.db { width: 16px; height: 15px; background-image: url('../images/sprite-icon.png'); background-position: 0 -13px; background-repeat: no-repeat; }
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx), (max-width: 767px) { .share a.db { background-image: url('../images/sprite-icons-2x.png'); background-size: 18px 45px; background-position: 0 -9px; height: 7.5px; width: 8px; } }

/*list*/
.j_moudel_box2 { background-color: #f9f9f9; padding: 105px 0 85px; }

.new_list { padding: 30px; background-color: #fff; border: 1px solid #e0dfdf; box-shadow: 0px 0 1px #f1f0f0; margin-bottom: 50px; }

.recommend { background-color: #fff; border: 1px solid #e0dfdf; margin-bottom: 25px; }

.new_recent { padding: 0 20px 25px; }

.news_mark { margin-top: 10px; }

.news_mark span { display: inline-block; margin-right: 5px; }

.recommend > h2 { padding: 15px 0; text-align: center; border-bottom: 1px solid #d7d7d7; box-shadow: 0px 0 1px #f1f0f0; margin-bottom: 20px; }

.new_href { display: block; }

.introduction { color: #ed145b; }

.point { width: 10px; height: 10px; border-radius: 100%; background-color: #e0dfdf; }

.j_txt { font-size: 0.875em; margin-top: 6px; }

.search { position: relative; margin-bottom: 25px; }

.search_text { width: 100%; border: 1px solid #d7d7d7; height: 50px; padding: 0 80px 0 20px; }

.search_btn { width: 48px; height: 48px; background: #ea4c89 url(../images/icon/search.png) no-repeat; background-position: center; border: 0; position: absolute; right: 0; top: 1px; }

.more { float: left; }

.j_box { padding-top: 20px; }

.j_box > h2 { font-size: 1.375em; margin-bottom: 15px; }

.j_box p { line-height: 1.7; }

.news_end { margin-top: 40px; }

.news_end .more { text-align: center; display: inline-block; padding: 15px 35px; background-color: #ea4c89; color: #fff; }

.news_end .more:hover { background-color: #ed145b; box-shadow: 0px 0px 10px #ea4c89; }

.tags li { border: 1px solid #d7d7d7; text-align: center; margin-right: 10px; float: left; margin-bottom: 5px; }

.tags li a { padding: 6px 18px; display: block; font-size: 0.875em; transition: all 0.3s; -webkit-transition: all 0.3s; -moz-transition: all 0.3s; }

.tags li:hover a { background-color: #333; color: #fff; }

/*page*/
.page li { float: left; margin-right: 10px; text-align: center; }

.page li a { display: block; border: 1px solid #333; padding: 15px 35px; font-size: 1.25em; transition: all 0.3s; -webkit-transition: all 0.3s; -moz-transition: all 0.3s; }

.page li:hover a, .page li.active a { color: #fff; border: 1px solid #fff; background-color: #000; }

.page li span { display: block; margin-top: 20px; letter-spacing: 2px; margin-left: 4px; }

/*foot*/
.foot { background-color: #333; padding: 25px 0; }

.copyright { color: #666; font-family: "Microsoft Yahei"; font-size: 0.875em; }

.callback { padding: 10px 20px; background-color: #000; font-size: 2em; text-align: center; color: #fff; position: fixed; bottom: 30px; right: 20px; cursor: pointer; box-shadow: -4px 6px 25px #666; display: none; }

.heart { position: absolute; transform-origin: 50% 8; animation: heart 0.5s infinite linear; -webkit-animation: heart 0.5s infinite linear; -moz-animation: heart 0.5s infinite linear; -ms-animation: heart 0.5s infinite linear; z-index: 100; }

@keyframes heart { 0% { transform: rotate(-45deg); }
  50% { transform: rotate(0deg); }
  100% { transform: rotate(-45deg); } }

/*# sourceMappingURL=index.css.map */
