<html>
<head>
{% include "../templates/layouts/head.html" %}
<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css?__inline">
<link rel="stylesheet" href="css/index.css"/>
<title>主页</title>
</head>
<body>
    {% include "../templates/layouts/nav.html" %}
<!--    <div class="header">
        <div class="container">
            <a href="#"><img src="images/logo.png"/></a>
            <div class="user">
                <a href="#">注册</a>
                <a href="#">登录</a>
            </div>
        </div>
    </div>-->
    <div class="container">
        <div class="clearfix news-top">
            <h3 class="subtile">新闻动态<span>NEWS</span></h3>
            <span class="myself">原创</span>
        </div>
        <div class="new">
            <h2>Nic设计助力我开始打造新型的互联网络平台</h2>
            <div class="new-tip">
                <div class="new-time"><span>发布于：2012-08-14  22:42</span><span>浏览：305</span></div>
                <div class="share_news">
                    <span>分享到：</span>
                    <a href="#" class="qq"><i></i></a>
                    <a href="#" class="wx"><i></i></a>
                    <a href="#" class="wb"><i></i></a>
                </div>
            </div>
        </div>
    </div>
    {% include "../templates/layouts/footer.html" %}
</body>
{% include "../templates/partials/js.html" %}
<script type="text/javascript" src="js/index.js"></script>
</html>