@import "reset";
@import "variables";
//compass 的雪碧图处理
$icon: sprite-map("icon/*.png",$spacing: 4px,$layout:smart);
$icons-2x: sprite-map("icons-2x/*.png",$spacing: 4px, $layout:smart);
@mixin fnIconSprite($name){
  width: image-width(sprite-file($icon, $name));
  height: image-height(sprite-file($icon, $name));
  background-image: sprite-url($icon);
  background-position: sprite-position($icon, $name);
  background-repeat: no-repeat;
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx), (max-width: 767px) {
    background-image: sprite-url($icons-2x);
    background-size: (image-width(sprite-path($icons-2x))/2) (image-height(sprite-path($icons-2x))/2);
    background-position: round(nth(sprite-position($icons-2x, $name), 1)/ 2) round(nth(sprite-position($icons-2x, $name), 2)/ 2);
    height: image-height(sprite-file($icons-2x, $name))/2;
    width: image-width(sprite-file($icons-2x, $name))/2;
  }
};
abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, html, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    cursor: url(../images/cursor.ico?__inline),auto;
}

/*common css*/
html { font-size:100%;}
body {
  font-family: "Microsoft Yahei",Arial,Helvetica, sans-serif;
  font-size: 100%;
  background: url(../images/bg.jpg) x-repeat;
}
a,a:visited,a:hover,a:active,a:focus { color:$blackColor; outline:none!important; text-decoration:none; }
ul,li {
  list-style:none;
  padding:0;
  margin:0;
}
h1,h2,h3,h4,h5,h6 {
  margin:0;
  padding:0;
}
h1,h2 {
  font-family: "Monk",Microsoft Yahei,sans-serif;
}
h2{
  font-size: 1.5em;
}
input,button{
  outline: 0;
}
img {
    height: auto;
    max-width: 100%;
    vertical-align: middle;
    border: 0;
    -ms-interpolation-mode: bicubic;
}
section { position:relative;}
.clear:after,.tags:after{
  content:"";
  clear: both;
  display: block;
  height:0;
}
/*index css*/
.top { 
  position: relative;
  background: url(../images/top.jpg?__inline) no-repeat;
  height: 700px;
  background-size: cover;
  background-position: center;
  background-attachment:fixed;
}
.top .top_bg { 
  position: absolute; 
  background-color:#000;
  opacity:0.4;
  height:100%;
  top:0px;
  left:0;
  width: 100%;
}
.top .title {
  color:$whiteColor;
  font-size: 4.375em;
  text-align: center;
  margin: 0;
  position: absolute;
  bottom: 260px;
  left: 0;
  right: 0;
}
/*.head_nav {
  height: 120px;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 10;
}
.head_nav.top .top_bg{
  opacity: 1;
}
.head_nav .nav_link {
  top: 20px;
  left: 80px;
  width: 80px;
  height: 80px;
  padding: 25px 0;
}
.head_nav.top .title {
  display: none;
}*/
/*nav*/
.nav_layer {
  height:100%;
  background-color: #333;
  opacity: 0.9;
  z-index: 11;
  box-shadow: inset 1px 0px 150px #fff;
  -webkit-box-shadow: inset 1px 0px 150px #fff;
  -moz-box-shadow: inset 1px 0px 150px #fff;
}
.nav {
  position: absolute;
  top:20%;
  left:0;
  right:0;
  z-index: 12;
}
.nav a {
  display: block;
  text-align: center;
  font-size: 2.5em;
  color: #fff;
  line-height: 1.7;
  text-shadow: 16px 2px 15px #000;
  padding: 20px 0;
  position: relative;
}
/*.nav a:after{
  position: absolute;
  top:0;
  left:0;
  content:"My blog sprce";
  display: block;
  text-align: center;
  font-size: 1em;
  color: #ea4c89;
  line-height: 1.7;
  text-shadow: 16px 2px 15px #000;
  padding: 20px 0;
  width: 100%;
}*/
.nav_link {
  position: fixed;
  top:60px;
  right:40px;
  width: 100px;
  height:100px;
  border-radius:100%;
  background-color:#000;
  padding: 34px 0;
  cursor: pointer;
  box-shadow: 5px 0px 20px #666;
  z-index: 20;
}
.open{
  background-color:transparent;
  box-shadow: none;
}
.open span:nth-child(2){
  display: none;
}
.open span:first-child{
  transform: rotate(-45deg)translate(-25%,50%);
  -webkit-transform: rotate(-45deg)translate(-25%,50%);
  -moz-transform: rotate(-45deg)translate(-25%,50%);
}
.open span:last-child{
  transform: rotate(45deg)translate(-15%,-25%);
  -webkit-transform: rotate(45deg)translate(-15%,-25%);
  -moz-transform: rotate(45deg)translate(-15%,-25%);
}
.menu {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 0;
  transition: all 0.3s;
  overflow: hidden;
  z-index: 10;
}
.menu.menu_run {
  width: 100%;
  display: block;
  -webkit-animation: menu_run 1s ;
  -moz-animation: menu_run 1s;
  -ms-animation: menu_run 1s;
}
@keyframes menu_run{
  0%{
    transform: rotate3d(10, -15, 0, -90deg);
    opacity: 0;
  }
  50%{
    transform: rotate3d(0, -15, 0, 30deg);
    opacity: 0.5;
  }
  100%{
    transform: rotate3d(0, 0, 0, 0deg);
    opacity: 1;
  }
}
@-moz-keyframes menu_run{
  0%{
    -moz-transform: rotate3d(10, -15, 0, -90deg);
    opacity: 0;
  }
  50%{
    -moz-transform: rotate3d(0, -15, 0, 30deg);
    opacity: 0.5;
  }
  100%{
    -moz-transform: rotate3d(0, 0, 0, 0deg);
    opacity: 1;
  }
}
@-webkit-keyframes menu_run{
  0%{
    -webkit-transform: rotate3d(10, -15, 0, -90deg);
    opacity: 0;
  }
  50%{
    -webkit-transform: rotate3d(0, -15, 0, 30deg);
    opacity: 0.5;
  }
  100%{
    -webkit-transform: rotate3d(0, 0, 0, 0deg);
    opacity: 1;
  }
}
.nav_link > span {
  display: block;
  width:30px;
  height:6px;
  background-color:$whiteColor;
  margin:0 auto 6px;
  cursor: pointer;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
}
.author {
  width: 300px;
  height: 300px;
  border:8px solid $whiteColor;
  border-radius:100%;
  margin: -150px auto 30px;
  overflow: hidden;
  box-shadow: 0px 10px 30px #666;
}
.j_moudel_box1 {
  text-align: center;
  padding-bottom: 60px;
}
.j_moudel_box1 p {
  margin-bottom: 20px;
  font-size: 1.125em;
}
.share li {
  display: inline-block;
}
.share a,.share_news a{
  display: inline-block;
  margin-right: 10px;
  vertical-align: text-bottom;
}
.share_news {
  float: right;
  margin-top: 8px;
}
.j_moudel_box2 .right {
  float: right;
}
.share a.qq,.share_news a.qq{
  @include fnIconSprite(qq);
}
.share a.wx,.share_news a.wx{
  @include fnIconSprite(wx);
}
.share a.wb,.share_news a.wb{
  @include fnIconSprite(wb);
}
.share a.qqkj,.share_news a.qqkj{
  @include fnIconSprite(qqkj);
}
/*list*/
.j_moudel_box2 {
  background-color:#f9f9f9;
  padding:105px 0 85px;
}
.new_list {
  padding:30px;
  background-color:$whiteColor;
  border: 1px solid #e0dfdf;
  box-shadow: 0px 0 1px #f1f0f0;
  margin-bottom: 50px;
}
.recommend {
  background-color:$whiteColor;
  border:1px solid #e0dfdf;
  margin-bottom: 25px;
}
.new_recent {
  padding:0 20px 25px;
  border-bottom: 1px solid #e0dfdf;
  margin-bottom: 20px;
}
.new_recent:last-child {
  border-bottom: 0;
}
.news_mark {
  margin-top: 10px;
}
.news_mark span{
  display: inline-block;
  margin-right:5px;
}
.recommend >h2 {
  padding:15px 0;
  text-align: center;
  border-bottom:1px solid #d7d7d7;
  box-shadow: 0px 0 1px #f1f0f0;
  margin-bottom: 20px;
}
.new_href {
  display: block;
}
.new_href:hover img {
  transform: scale(1.1);
  transform: scale(1.1);
  -moz-transform: scale(1.1);
}
.new_href  img {
  cursor: pointer;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
}
.new_href > span {
  display: block;
  overflow: hidden;
}
.introduction{
  color:#ed145b
}
.point {
  width: 10px;
  height:10px;
  border-radius:100%;
  background-color:#e0dfdf;
}
.j_txt {
  font-size: 0.875em;
  margin-top: 6px;
  font-weight: bold;
}
.search {
  position:relative;
  margin-bottom: 25px;
}
.search_text {
  width:100%;
  border:1px solid #d7d7d7;
  height:50px;
  padding:0 80px 0 20px;
}
.search_btn {
  width: 48px;
  height:48px;
  background:#ea4c89 url(../images/icon/search.png?__inline) no-repeat;
  background-position:center;
  border:0;
  position: absolute;
  right: 0;
  top:1px;
}
.more {
  float: left;
}
.j_box {
  padding-top:20px;
}
.j_box >h2 {
  font-size: 1.375em;
  margin-bottom: 15px;
}
.j_box p {
  line-height: 1.7;
}
.news_end {
  margin-top: 40px;
}
.news_end .share_news a {
  margin-top: 6px;
}
.news_end .more {
  text-align: center;
  display: inline-block;
  padding:15px 35px;
  background-color:#ea4c89;
  color:$whiteColor;
}
.news_end .more:hover{
    background-color: #ed145b;
    box-shadow: 0px 0px 10px #ea4c89;
}
.tags li {
  border:1px solid #d7d7d7;
  text-align: center;
  margin-right:10px;
  float: left;
  margin-bottom:5px;
}
.tags li a {
  padding: 6px 18px;
  display: block;;
  font-size: 0.875em;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
}
.tags li:hover a{
  background-color:#333;
  color:#fff;
}
/*page*/
.page li{
  float: left;
  margin-right:10px;
  text-align: center;
}
.page li a {
  display: block;
  border:1px solid #333;
  padding: 15px 35px;
  font-size: 1.25em;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
}
.page li:hover a,.page li.active a{
  color:$whiteColor;
  border:1px solid #fff;
  background-color: #000;
}
.page li span {
  display: block;
  margin-top: 20px;
  letter-spacing: 2px;
  margin-left: 4px;
}
/*foot*/
.foot {
  background-color: #404042;
  padding: 25px 0;
}
.copyright {
  color:#666;
  font-family:"Microsoft Yahei";
  font-size: 0.875em;
}
.callback {
  padding:10px 20px;
  background-color: #000;
  font-size: 2em;
  text-align: center;
  color: $whiteColor;
  position: fixed;
  bottom:30px;
  right:20px;
  cursor: pointer;
  box-shadow: -4px 6px 25px #666;
  display: none;
}
.callback:hover {
  background-color: #333;
}
.heart {
  position: absolute;
  transform-origin:50% 8;
  animation: heart 0.5s infinite linear;
  -webkit-animation: heart 0.5s infinite linear;
  -moz-animation: heart 0.5s infinite linear;
  -ms-animation: heart 0.5s infinite linear;
  z-index: 100;
}
@keyframes heart{
  0%{
    transform:rotate(-45deg);
  }
  50%{
    transform:rotate(0deg);
  }
  100%{
    transform:rotate(-45deg);
  }
}
/*new page*/
.header { background-color: #000;}
.new-tip:after {
  content:"";
  clear: both;
  display: block;
  height:0;
}
.header .logo {
  display: block;
  width:75px;
  float: left;
  padding: 10px 0;
}
.user {
  float: right;
}
.user .login {
  background-color: #ea4c89;
}
.user .login:hover {
  box-shadow: 0px 4px 12px #999;
  background-color: #ed145b;
  padding: 62px 30px 43px;
}
.user .register {
  position: relative;
}
.user .register:hover {
  color:#ea4c89;
}
.user a {
  color: #fff;
  font-size: 1em;
  padding: 52px 30px 53px;
  float: left;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
}
.user a i {
  margin-right: 6px;
}
.subtile {
  font-size: 1.125em;
  font-weight: bold;
}
.subtile >span{
  margin-left: 6px;
  font-weight: normal;
  color: #666;
  font-size: 0.875em;
  font-style: italic;
}
.myself {
  position: absolute;
  right: 25px;
  top:25px;
  padding:17px 10px;
  color: #33cc33;
  border-radius: 100%;
  border:1px solid  #33cc33;
  font-size: 1.5em;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
}
.reprint {
  color:#ea4c89;
  border:1px solid  #ea4c89;
}
.news-top {
  padding:60px 0 20px;
  position: relative;
}
.new-time span {
  font-size: 0.75em;
  color:#666;
  margin-right: 5px;
}
.new-time {
  float: left;
  margin-top: 2px;
}
.new-tip {
  margin-top: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #f1f0f0;
}
.new-tip:after,.new-page:after{
  content:"";
  clear: both;
  display: block;
  height:0;
}
.new-tip .share_news {
  margin-top: -6px;
  font-size: 0.75em;
}
.share_news > span{
  float: left;
  margin-top: 8px;
}
.new {
  position: relative;
  padding: 120px 100px 80px;
  border: 1px solid #e0dfdf;
  margin-bottom: 40px;
  box-shadow: 0px 0 15px #f1f0f0;
  background-color: #fff;
}
.new h2 {
  text-align: center;
}
.new-content{
  padding: 30px 0;
  min-height: 400px;
}
.new-content img {
  margin-bottom: 20px;
}
.new-content p,.new-content > span {
  font-size: 0.875em;
  line-height: 1.7;
  text-align: left;
  text-indent: 24px;
  color: #666;
}
.new-content table {
  width: 100%;
  text-align: center;
  border: 1px solid #e0dfdf;
  margin: 20px 0;
}
.new-content table th {
  text-align: center;
  padding: 6px 0;
  border-bottom: 1px solid #e0dfdf;
}
.new-content table td {
  padding:6px 0;
  border-bottom: 1px solid #e0dfdf;
}
.new-content table tr:nth-child(odd) td{
  background-color: #eee;
}
.new-content table tr:last-child td {
  border-bottom: 0;
}
.new-page {
  padding: 10px 0;
  border-bottom: 1px solid #e0dfdf;
}
.new-page a,.new-page a>span{
  cursor: pointer;
}
.new-page a:hover {
  color:#33cc33;
}
.new-page .new-prev {
  float: left;
}
.new-page .no-new,.new-page .no-new span{
  cursor: default;
}
.new-page .no-new:hover {
  color:#404042;
}
.new-page .new-next {
  float: right;
}
.new-bg {
  background-color: #f9f9f9;
}
.fadeInRight {
  transform-origin:50% 100%;
  animation: fadeInRight 0.8s;
  -webkit-animation: fadeInRight 0.8s;
  -moz-animation: fadeInRight 0.8s;
  -ms-animation: fadeInRight 0.8s;
}
@keyframes fadeInRight{
  0%{
    transform: translate(150px,0);
    filter: blur(3px);
    opacity: 0;
  }
  100%{
    transform: translate(0,0);
    filter: blur(0);
    opacity: 1;
  }
}
@-webkit-keyframes fadeInRight{
  0%{
    -webkit-transform: translate(150px,0);
    -webkit-filter: blur(3px);
    opacity: 0;
  }
  100%{
    -webkit-transform: translate(0,0);
    filter: blur(0);
    opacity: 1;
  }
}
@-moz-keyframes fadeInRight{
  0%{
    -moz-transform: translate(150px,0);
    -moz-ilter: blur(3px);
    opacity: 0;
  }
  100%{
    -moz-transform: translate(0,0);
    -moz-filter: blur(0);
    opacity: 1;
  }
}
.no-like,.like{
  float: right;
  margin-left: 10px;
  padding:10px 15px;
  font-size: 0.875em;
  cursor: pointer;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
}
.no-like {
  border:2px solid #404042;
}
.like {
  border:2px solid #ea4c89;
}
.no-like i,.like i {
  margin:0 4px;
  font-size: 1.5em;
  margin-top: -8px;
  vertical-align: middle;
}
.like i {
  color: #ea4c89;
}
.like > em{
  color: #ea4c89;
  font-weight: bold;
  cursor:pointer;
}
.no-like > em{
  color: #404042;
  font-weight: bold;
  cursor: pointer;
}
.no-like i {
  color:#404042;
}
.no-like:hover {
  background-color: #404042;
  color: #fff;
  border-radius: 6px;
}
.like:hover {
  background-color: #ea4c89;
  color: #fff;
  border-radius: 6px;
}
.no-like:hover em,.no-like:hover i,.like:hover i,.like:hover em{
  color: #fff;
}
.feel {
  padding: 10px 0;
}
.code {
  text-align: left;
  background-color: #eee;
  padding: 20px;
  line-height: 1.7;
  font-size: 0.875em;
  border: 1px solid #ccc;
  margin-bottom: 20px;
}
.code .modus,.new-content .modus{
  color:#0000ff;
}
.code .zs,.new-content .zs{
  color:#33cc33;
}
.new h2 {
  font-family: "Microsoft Yahei",sans-serif;
  font-weight: bold;
}
.new-content h3 {
  font-size: 1.125em;
  font-weight: bold;
  text-shadow: 2px 0px 6px #ea4c89;
  margin-bottom: 20px;
}
.new-content pre {
  overflow-x: hidden;
}
#bdshare_weixin_qrcode_dialog.bd_weixin_popup{
  height:auto!important;
}

/************************
 @ jdqslider
 @
*************************/
.jdqslider {
  overflow: hidden;
  position: relative;
  width: 400px;
}
.jdqslider .img {
  position: relative;
  height:auto;
}
.jdqslider .btn {
  width: 30px;
  height: 50px;
  background-color: #808080;
  opacity: 0.5;
  position: absolute;
  top: 50%;
  margin-top: -25px;
  cursor: pointer;
  text-align: center;
  line-height: 50px;
  font-size: 40px;
  color: #fff;
  font-family: "simsun";
  padding:0;
}
.jdqslider .img img {
  display: block;
}
.jdqslider .btn_l {
  left: 10px;
}
.jdqslider .btn_r {
  right: 10px;
}
.imgbtn li {
  width: 10px;
  height: 10px;
  background-color: #888;
  border-radius: 50%;
  display: inline-block;
  margin: 0px 3px;
  cursor: pointer;
}
.imgbtn li.active {
  background-color: #ff6a00;
}

/************************
 @ jdq-layer
 @tips
*************************/
.jdqlayer{
  margin: 100px;
}
.jdqbtn {
  padding:10px 15px;
  border-radius: 4px;
  border:1px solid #eee;
  font-size: 0.875em;
  margin-right: 10px;
}
.jdqbtn:hover{
  border: 1px solid #33cc33;
}
.jdq-frame{
  position: absolute;
  top:0;
  width:100%;
  height:100%;
  left:0;
  background-color: #404042;
  opacity: 0.4;
}
.tips {
  position: absolute;
  top:0;
  left:0;
  padding:5px 10px;
  font-size: 0.875em;
  background-color: #ea4c89;
  color: #fff;
  border-radius: 4px;
  z-index: 100000;
}
.tips:after {
  content: "";
  position: absolute;
  bottom: -11px;
  left: 5px;
  width: 0;
  height: 0;
  border-bottom: 15px solid transparent;
  border-right: 10px solid #ea4c89;
  border-top: 0px solid transparent;
  transform: rotate(-30deg);
  -webkit-transform: rotate(-30deg);
  -moz-transform: rotate(-30deg);
}
.tips_cartoon {
  -webkit-animation: tips 0.3s ;
  -moz-animation: tips 0.3s;
  -ms-animation: tips 0.3s;
}
@keyframes tips{
  0%{
    transform: scale(0);
    opacity: 0;
  }
  100%{
    transform: scale(1);
    opacity: 1;
  }
}
@-webkit-keyframes tips{
  0%{
    -webkit-transform: scale(0);
    opacity: 0;
  }
  100%{
    -webkit-transform: scale(1);
    opacity: 1;
  }
}
@-moz-keyframes tips{
  0%{
    -moz-transform: scale(0);
    opacity: 0;
  }
  100%{
    -moz-transform: scale(1);
    opacity: 1;
  }
}
/************************
 @ jdq-layer
 @alert
*************************/
.jdq-layer-bg {
  position: fixed;
  top:0;
  left:0;
  bottom:0;
  width: 100%;
  background-color: #404042;
  opacity: 0.8;
}
.jdq-alert-layer {
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 1000;
  background-color: #fff;
  margin-left: -150px;
  margin-top: -50px;
  border-radius: 4px;
  box-shadow: 0px 0px 10px #404042;
}
.jdq-module .alert_title {
  font-size: 1em;
  font-weight:bold;
  font-family: "Microsoft Yahei";
}
.jdq-module {
  position: relative;
  padding: 20px 20px 52px;
  min-width: 300px;
  min-height: 100px;
  max-width: 400px;
}
.jdq-module .jdq-alert-msg {
  margin-top: 10px;
  font-size: 0.875em;
  line-height: 1.5;
}
.jdq-module #btnbox {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 1em;
  border-top: 1px solid #e0dfdf;
}
button.jdq-sure-btn {
  width: 100%;
  border: 0;
  background-color: transparent;
}
.jdq-module #btnbox > button {
  display: block;
  padding: 9px 0 10px;
}
.jdq-icon-close {
  background: url(../images/icon_close.png) no-repeat;
  position: absolute;
  right: 4px;
  top: 8px;
  width: 18px;
  height: 18px;
  padding: 15px;
  background-position: center;
  border-radius: 100%;
  border: 1px solid transparent;
}
.jdq-icon-close:hover {
  background: url(../images/close-hover-icon.png) no-repeat;
  border: 1px solid #ed145b;
  background-position: center;
}
.jdq-module .sure:hover{
  color:#fff;
  background-color: #47cf73;
  border-bottom-left-radius:4px;
  border-bottom-right-radius:4px;
}
.jdq-module .sure.w50:hover {
  border-bottom-right-radius:0;
}
.jdq-module .sure.w50 {
  border-right:1px solid #e0dfdf;
}
.jdq-module .cancel.w50:hover {
  color:#fff;
  background-color: #ea4c89;
  border-bottom-right-radius:4px;
}
.jdq-slide-down {
  -webkit-animation: jdq-slide-down 0.8s;
  -moz-animation: jdq-slide-down 0.8s;
  -ms-animation: jdq-slide-down 0.8s;
}
@keyframes jdq-slide-down {
  0%{
    opacity: 0;
    transform: translate(0,-30px);
  }
  50%{
    opacity: 0.6;
  }
  100%{
    opacity: 1;
    transform: translate(0,0);
  }
}
@-webkit-keyframes jdq-slide-down {
  0%{
    opacity: 0;
    -webkit-transform: translate(0,-30px);
  }
  50%{
    opacity: 0.6;
  }
  100%{
    opacity: 1;
    -webkit-transform: translate(0,0);
  }
}
@-moz-keyframes jdq-slide-down {
  0%{
    opacity: 0;
    -moz-transform: translate(0,-30px);
  }
  50%{
    opacity: 0.5;
  }
  100%{
    opacity: 1;
    -moz-transform: translate(0,0);
  }
}
.cancel.w50,.sure.w50{
  width: 50%;
  float: left;
  border: 0;
  background-color: transparent;
}
.jdq-alert-msg h2{
  font-family:"Microsoft Yahei";
  font-size: 1em;
}
/************************
 @ jdq-layer
 @iframe
*************************/
.jdq-iframe-layer {
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 1000;
  background-color: #fff;
  margin-left: -150px;
  margin-top: -50px;
  border-radius: 4px;
  box-shadow: 0px 0px 10px #404042;
}
.jdq-iframe-layer .jdq-module {
  padding:0;
}
.jdq-iframe-layer .jdq-module .alert_title {
  padding: 20px 40px 20px 20px;
  border-bottom: 1px solid #e0dfdf;
}
.jdq-iframe-layer .jdq-icon-close {
  top:12px;
}
.jdq-module{
  max-width: inherit;
  min-height: inherit;
}
/************************
 @ jdq-CSS3
 @btn-ui
*************************/
.new-content .small-titile {
  font-size: 0.875em;
  font-weight: bold;
}
.jdq-btn-box{
  padding: 20px;
}
.btn-ui-list1:after {
  content:"";
  clear: both;
  display: block;
  height:0;
}
.btn-ui-list1 > li {
  text-align: center;
}
.btn-ui-list1 > li a {
  border:2px solid #6bacdd;
  transition: all 0.3s;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}
.btn-ui-list2 > li a {
  padding: 15px 20px;
  display: block;
}
.btn-ui-list1 > li a:before,.btn-ui-list1 > li a:after {
  content:attr(data-text);
  position:absolute;
  overflow: hidden;
  width: 100%;
  height:50%;
  color: #fff;
  background-color: #6bacdd;
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}
.btn-ui-list1 > li a:after{
  bottom: 0;
  left: 0;
  line-height: 0;
}
.btn-ui-list1 > li a:before{
  top: 0;
  left: 0;
  padding-top: 15px;
}
.btn-text {
  display: block;
  -webkit-transform: scale3d(0.2, 0.2, 1);
  transform: scale3d(0.2, 0.2, 1);
  opacity: 0;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  text-align: center;
  cursor: pointer;
  color:#333;
}
.btn-ui-list1 > li a:hover::before {
  -webkit-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
}
.btn-ui-list1 > li a:hover::after {
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
}
.btn-ui-list1 > li a:hover > span {
  opacity: 1;
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
}
.btn-ui-list2 > li a {
  background-color: #eb7d4b;
  box-shadow: 0px 6px 0px #c86a40;
  color: #fff;
  display: block;
  border-radius: 4px;
  text-align: center;
  transition: all 0.1s;
  -webkit-transition: all 0.1s;
  -moz-transition: all 0.1s;
}
.btn-ui-list2 > li .btn-down a {
  box-shadow: 0px 3px 0px #c86a40;
}
.btn-wrap {
  box-shadow: 0px 4px 30px #333;
  border-radius: 4px;
  transition: all 0.1s;
  -webkit-transition: all 0.1s;
  -moz-transition: all 0.1s;
}
.btn-ui-list2 > li .btn-down {
  box-shadow: 0px 2px 10px #333;
  transform: translate3d(0,-1px,0);
  -webkit-transform: translate3d(0,-1px,0);
  -moz-transform: translate3d(0,-1px,0);
}
.jdq-btn-box > li a {
  display: block;
  padding: 15px 20px;
  text-align: center;
  transition: all 0.3s;
  color:#fff;
}
.btn-ui-list3 > li a{
  background-color: #17c2a4;
  position: relative;
}
.btn-ui-list3 > li span {
  position: relative;
}
.btn-ui-list3 > li a:before{
  content:"";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height:100%;
  z-index: 0;
  background-color: #14a58c;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
}
.btn-ui-list3 > li a:hover:before {
  width:100%;
  -webkit-animation: btn-slide-right 0.7s;
  -moz-animation: btn-slide-right 0.7s;
  -ms-animation: btn-slide-right 0.7s;
}
@keyframes btn-slide-right {
  0%{
    width:0%;
    animation-timing-function:ease-in;
  }
  50%{
    width:100%;
    animation-timing-function:cubic-bezier(0.25,0.1,0.25,1);
  }
  80%{
    width:80%;
    animation-timing-function:cubic-bezier(0,0,0.25,1);
  }
  100%{
    width:100%;
    animation-timing-function:cubic-bezier(0,0,0.58,1);
  }
}
@-webkit-keyframes btn-slide-right {
  0%{
    width:0%;
    -webkit-animation-timing-function:ease-in;
  }
  50%{
    width:100%;
    -webkit-animation-timing-function:cubic-bezier(0.25,0.1,0.25,1);
  }
  80%{
    width:80%;
    -webkit-animation-timing-function:cubic-bezier(0,0,0.25,1);
  }
  100%{
    width:100%;
    -webkit-animation-timing-function:cubic-bezier(0,0,0.58,1);
  }
}
@-moz-keyframes btn-slide-right {
  0%{
    width:0%;
    -moz-animation-timing-function:ease-in;
  }
  50%{
    width:100%;
    -moz-animation-timing-function:cubic-bezier(0.25,0.1,0.25,1);
  }
  80%{
    width:80%;
    -moz-animation-timing-function:cubic-bezier(0,0,0.25,1);
  }
  100%{
    width:100%;
    -moz-animation-timing-function:cubic-bezier(0,0,0.58,1);
  }
}
.btn-ui-list4 > li a{
  background-color: #30bae7;
  position: relative;
}
.btn-ui-list4 > li a:before {
  content: '';
  position: absolute;
  border: #30bae7 solid 6px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}
.btn-ui-list4 > li a:hover:before {
  -webkit-animation-name: btn-ripple;
  animation-name: btn-ripple;
  -moz-animation-name: btn-ripple;
}
@keyframes btn-ripple {
  100%{
    top: -12px;
    right: -12px;
    bottom: -12px;
    left: -12px;
    opacity: 0;
  }
}
@-webkit-keyframes btn-ripple {
  100%{
    top: -12px;
    right: -12px;
    bottom: -12px;
    left: -12px;
    opacity: 0;
  }
}
@-moz-keyframes btn-ripple {
  100%{
    top: -12px;
    right: -12px;
    bottom: -12px;
    left: -12px;
    opacity: 0;
  }
}
.btn-ui-list5 > li a{
  background-color:#e1e1e1;
  color: #666;
  position: relative;
}
.btn-ui-list5 > li a:after,.btn-ui-list5 > li a:before{
  content:"";
  position: absolute;
  width: 100%;
  height:100%;
  left: 0;
  top:0;
}
.btn-ui-list5 > li a:before {
  border-left:3px solid #d74680;
  border-right:3px solid #d74680;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transform: rotateX(-90deg);
  -webkit-transform: rotateX(-90deg);
  -moz-transform: rotateX(-90deg);
}
.btn-ui-list5 > li a:after {
  border-top:3px solid #d74680;
  border-bottom:3px solid #d74680;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transform: rotateY(-90deg);
  -webkit-transform: rotateY(-90deg);
  -moz-transform: rotateY(-90deg);
}
.btn-ui-list5 > li a:hover:before{
  transform: rotateX(0deg);
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
}
.btn-ui-list5 > li a:hover:after{
  transform: rotateY(0deg);
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
}
/************************
 @ jdq-CSS3
 @response
*************************/
@media (max-width: 767px){
  .top {
    height:500px;
  }
  .top .title {
    font-size: 3em;
  }
  .j_moudel_box1 {
    padding-bottom: 30px;
  }
  .j_moudel_box1 p {
    font-size: 1em;
  }
  .j_moudel_box2 {
    padding: 30px 0;
  }
  .j_box > h2 {
    font-size: 1em;
    margin-bottom: 10px;
  }
  .j_box p {
    font-size: 0.875em;
  }
  .j_box {
    padding: 10px 20px 0;
  }
  .new_list {
    padding: 0 0 20px 0;
    margin-bottom: 30px;
  }
  .news_mark {
    padding: 0 20px;
  }
  .news_end {
    margin-top: 20px;
  }
  .news_end .more {
    width: 100%;
    font-size: 0.875em;
  }
  .share_news {
    float: left;
    font-size: 0.875em;
  }
  .header .logo {
    width: 50px;
  }
  .news-top {
    padding: 40px 0 20px;
  }
  .user a {
    padding: 35px 15px;
  }
  .nav_link {
    top: 100px;
    right: 30px;
    width: 60px;
    height: 60px;
    padding: 20px 0;
  }
  .nav a {
    font-size: 1.5em;
    padding: 15px 0;
  }
  .nav_link > span {
    width: 25px;
    height: 3px;
    margin: 0 auto 6px;
  }
  .new {
    padding: 98px 10px 40px;
  }
  .new h2 {
    font-size: 1.25em;
  }
  .new-content a {
    word-wrap: break-word;
  }
  .new-page .new-next,.new-page .new-prev {
    float: none;
  }
  .new-page > a {
    display: block;
  }
  .new-tip .share_news {
    float: left;
    margin-top: 5px;
  }
  .new-time {
    width: 100%;
  }
  .new-tip {
    margin-top: 15px;
  }
  .new-content h3 {
    font-size: 1em;
    line-height: 1.7;
    margin-bottom: 10px;
  }
  .new-page .new-prev {
    margin-bottom: 10px;
  }
  .new-content {
    margin: 15px 0;
    padding: 15px 0;
    font-size: 0.875em;
  }
  .btn-ui-list1 > li a {
    margin-bottom: 10px;
  }
  .btn-wrap {
    margin-bottom: 30px;
  }
  .myself {
    right: 20px;
    top: 20px;
    padding: 15px 9px;
    font-size: 1.25em;
  }
  .copyright {
    padding: 0 20px;
  }
  .user .login:hover {
    box-shadow: 0px 4px 12px #999;
    background-color: #ed145b;
    padding: 35px 20px 35px;
  }
  .callback {
    padding: 7px 15px;
    bottom: 50px;
    font-size: 1.5em;
  }
  .code {
    padding: 10px 5px;
    word-wrap: break-word;
  }
  .new-content table {
    font-size: 1em;
  }
  .new-content table {
    margin-top: 10px;
  }
  .new-content p, .new-content > span {
    font-size: 1em;
  }
  .jdqlayer {
    margin: 20px 0;
  }
  .jdqlayer:after {
    content:"";
    clear: both;
    display: block;
    height:0;
  }
  .jdqbtn {
    float: left;
    margin-bottom: 10px;
  }
  .j_moudel_box2 .right {
    float: none;
  }
  .m_article,.page > ul {
    display: none;
  }
  .tags li {
    margin-right: 15px;
    margin-bottom: 15px;
  }
  .tags li a {
    padding: 15px 20px;
  }
  .new-content table td {
    font-size: 0.75em;
    word-break: break-word;
  }
}
