@import "reset";
@import "variables";
//compass 的雪碧图处理
$icon: sprite-map("icon/*.png",$spacing: 4px,$layout:smart);
$icons-2x: sprite-map("icons-2x/*.png",$spacing: 4px, $layout:smart);
@mixin fnIconSprite($name){
  width: image-width(sprite-file($icon, $name));
  height: image-height(sprite-file($icon, $name));
  background-image: sprite-url($icon);
  background-position: sprite-position($icon, $name);
  background-repeat: no-repeat;
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx), (max-width: 767px) {
    background-image: sprite-url($icons-2x);
    background-size: (image-width(sprite-path($icons-2x)) / 2) (image-height(sprite-path($icons-2x)) / 2);
    background-position: round(nth(sprite-position($icons-2x, $name), 1) / 2) round(nth(sprite-position($icons-2x, $name), 2) / 2);
    height: image-height(sprite-file($icons-2x, $name)) / 2;
    width: image-width(sprite-file($icons-2x, $name)) / 2;
  }
};
abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, html, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    cursor: url(../images/cursor.ico?__inline),auto;
}

/*common css*/
html { font-size:100%;}
body {
  font-family: "Microsoft Yahei",Arial,Helvetica, sans-serif;
  font-size: 100%;
  background: url(../images/bg.jpg) x-repeat;
}
a,a:visited,a:hover,a:active,a:focus { color:$blackColor; outline:none!important; text-decoration:none; }
ul,li {
  list-style:none;
  padding:0;
  margin:0;
}
h1,h2,h3,h4,h5,h6 {
  margin:0;
  padding:0;
}
h1,h2 {
  font-family: "Monk",Microsoft Yahei,sans-serif;
}
h2{
  font-size: 1.5em;
}
input,button{
  outline: 0;
}
img {
    height: auto;
    max-width: 100%;
    vertical-align: middle;
    border: 0;
    -ms-interpolation-mode: bicubic;
}
section { position:relative;}
.clear:after,.tags:after{
  content:"";
  clear: both;
  display: block;
  height:0;
}
/*index css*/
.top { 
  position: relative;
  background: url(../images/top.jpg?__inline) no-repeat;
  height: 700px;
  background-size: cover;
  background-position: center;
  background-attachment:fixed;
}
.top .top_bg { 
  position: absolute; 
  background-color:#000;
  opacity:0.4;
  height:100%;
  top:0px;
  left:0;
  width: 100%;
}
.top .title {
  color:$whiteColor;
  font-size: 4.375em;
  text-align: center;
  margin: 0;
  position: absolute;
  bottom: 260px;
  left: 0;
  right: 0;
}
/*.head_nav {
  height: 120px;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 10;
}
.head_nav.top .top_bg{
  opacity: 1;
}
.head_nav .nav_link {
  top: 20px;
  left: 80px;
  width: 80px;
  height: 80px;
  padding: 25px 0;
}
.head_nav.top .title {
  display: none;
}*/
/*nav*/
.nav_layer {
  height:100%;
  background-color: #333;
  opacity: 0.9;
  z-index: 11;
  box-shadow: inset 1px 0px 150px #fff;
  -webkit-box-shadow: inset 1px 0px 150px #fff;
  -moz-box-shadow: inset 1px 0px 150px #fff;
}
.nav {
  position: absolute;
  top:20%;
  left:0;
  right:0;
  z-index: 12;
}
.nav a {
  display: block;
  text-align: center;
  font-size: 2.5em;
  color: #fff;
  line-height: 1.7;
  text-shadow: 16px 2px 15px #000;
  padding: 20px 0;
  position: relative;
}
/*.nav a:after{
  position: absolute;
  top:0;
  left:0;
  content:"My blog sprce";
  display: block;
  text-align: center;
  font-size: 1em;
  color: #ea4c89;
  line-height: 1.7;
  text-shadow: 16px 2px 15px #000;
  padding: 20px 0;
  width: 100%;
}*/
.nav_link {
  position: fixed;
  top:60px;
  right:40px;
  width: 100px;
  height:100px;
  border-radius:100%;
  background-color:#000;
  padding: 34px 0;
  cursor: pointer;
  box-shadow: 5px 0px 20px #666;
  z-index: 20;
}
.open{
  background-color:transparent;
  box-shadow: none;
}
.open span:nth-child(2){
  display: none;
}
.open span:first-child{
  transform: rotate(-45deg)translate(-25%,50%);
  -webkit-transform: rotate(-45deg)translate(-25%,50%);
  -moz-transform: rotate(-45deg)translate(-25%,50%);
}
.open span:last-child{
  transform: rotate(45deg)translate(-15%,-25%);
  -webkit-transform: rotate(45deg)translate(-15%,-25%);
  -moz-transform: rotate(45deg)translate(-15%,-25%);
}
.menu {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 0;
  transition: all 0.3s;
  overflow: hidden;
  z-index: 10;
}
.menu.menu_run {
  width: 100%;
  display: block;
  -webkit-animation: menu_run 1s ;
  -moz-animation: menu_run 1s;
  -ms-animation: menu_run 1s;
}
@keyframes menu_run{
  0%{
    transform: rotate3d(10, -15, 0, -90deg);
    opacity: 0;
  }
  50%{
    transform: rotate3d(0, -15, 0, 30deg);
    opacity: 0.5;
  }
  100%{
    transform: rotate3d(0, 0, 0, 0deg);
    opacity: 1;
  }
}
@-moz-keyframes menu_run{
  0%{
    -moz-transform: rotate3d(10, -15, 0, -90deg);
    opacity: 0;
  }
  50%{
    -moz-transform: rotate3d(0, -15, 0, 30deg);
    opacity: 0.5;
  }
  100%{
    -moz-transform: rotate3d(0, 0, 0, 0deg);
    opacity: 1;
  }
}
@-webkit-keyframes menu_run{
  0%{
    -webkit-transform: rotate3d(10, -15, 0, -90deg);
    opacity: 0;
  }
  50%{
    -webkit-transform: rotate3d(0, -15, 0, 30deg);
    opacity: 0.5;
  }
  100%{
    -webkit-transform: rotate3d(0, 0, 0, 0deg);
    opacity: 1;
  }
}
.nav_link > span {
  display: block;
  width:30px;
  height:6px;
  background-color:$whiteColor;
  margin:0 auto 6px;
  cursor: pointer;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
}
.author {
  width: 300px;
  height: 300px;
  border:8px solid $whiteColor;
  border-radius:100%;
  margin: -150px auto 30px;
  overflow: hidden;
  box-shadow: 0px 10px 30px #666;
}
.j_moudel_box1 {
  text-align: center;
  padding-bottom: 60px;
}
.j_moudel_box1 p {
  margin-bottom: 20px;
  font-size: 1.125em;
}
.share li {
  display: inline-block;
}
.share a,.share_news a{
  display: inline-block;
  margin-right: 10px;
  vertical-align: text-bottom;
}
.share_news {
  float: right;
  margin-top: 8px;
}
.share a.qq,.share_news a.qq{
  @include fnIconSprite(qq);
}
.share a.wx,.share_news a.wx{
  @include fnIconSprite(wx);
}
.share a.wb,.share_news a.wb{
  @include fnIconSprite(wb);
}
.share a.qqkj,.share_news a.qqkj{
  @include fnIconSprite(qqkj);
}
/*list*/
.j_moudel_box2 {
  background-color:#f9f9f9;
  padding:105px 0 85px;
}
.new_list {
  padding:30px;
  background-color:$whiteColor;
  border: 1px solid #e0dfdf;
  box-shadow: 0px 0 1px #f1f0f0;
  margin-bottom: 50px;
}
.recommend {
  background-color:$whiteColor;
  border:1px solid #e0dfdf;
  margin-bottom: 25px;
}
.new_recent {
  padding:0 20px 25px;
  border-bottom: 1px solid #e0dfdf;
  margin-bottom: 20px;
}
.new_recent:last-child {
  border-bottom: 0;
}
.news_mark {
  margin-top: 10px;
}
.news_mark span{
  display: inline-block;
  margin-right:5px;
}
.recommend >h2 {
  padding:15px 0;
  text-align: center;
  border-bottom:1px solid #d7d7d7;
  box-shadow: 0px 0 1px #f1f0f0;
  margin-bottom: 20px;
}
.new_href {
  display: block;
}
.new_href:hover img {
  transform: scale(1.1);
  transform: scale(1.1);
  -moz-transform: scale(1.1);
}
.new_href  img {
  cursor: pointer;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
}
.new_href > span {
  display: block;
  overflow: hidden;
}
.introduction{
  color:#ed145b
}
.point {
  width: 10px;
  height:10px;
  border-radius:100%;
  background-color:#e0dfdf;
}
.j_txt {
  font-size: 0.875em;
  margin-top: 6px;
  font-weight: bold;
}
.search {
  position:relative;
  margin-bottom: 25px;
}
.search_text {
  width:100%;
  border:1px solid #d7d7d7;
  height:50px;
  padding:0 80px 0 20px;
}
.search_btn {
  width: 48px;
  height:48px;
  background:#ea4c89 url(../images/icon/search.png?__inline) no-repeat;
  background-position:center;
  border:0;
  position: absolute;
  right: 0;
  top:1px;
}
.more {
  float: left;
}
.j_box {
  padding-top:20px;
}
.j_box >h2 {
  font-size: 1.375em;
  margin-bottom: 15px;
}
.j_box p {
  line-height: 1.7;
}
.news_end {
  margin-top: 40px;
}
.news_end .share_news a {
  margin-top: 6px;
}
.news_end .more {
  text-align: center;
  display: inline-block;
  padding:15px 35px;
  background-color:#ea4c89;
  color:$whiteColor;
}
.news_end .more:hover{
    background-color: #ed145b;
    box-shadow: 0px 0px 10px #ea4c89;
}
.tags li {
  border:1px solid #d7d7d7;
  text-align: center;
  margin-right:10px;
  float: left;
  margin-bottom:5px;
}
.tags li a {
  padding: 6px 18px;
  display: block;;
  font-size: 0.875em;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
}
.tags li:hover a{
  background-color:#333;
  color:#fff;
}
/*page*/
.page li{
  float: left;
  margin-right:10px;
  text-align: center;
}
.page li a {
  display: block;
  border:1px solid #333;
  padding: 15px 35px;
  font-size: 1.25em;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
}
.page li:hover a,.page li.active a{
  color:$whiteColor;
  border:1px solid #fff;
  background-color: #000;
}
.page li span {
  display: block;
  margin-top: 20px;
  letter-spacing: 2px;
  margin-left: 4px;
}
/*foot*/
.foot {
  background-color: #404042;
  padding: 25px 0;
}
.copyright {
  color:#666;
  font-family:"Microsoft Yahei";
  font-size: 0.875em;
}
.callback {
  padding:10px 20px;
  background-color: #000;
  font-size: 2em;
  text-align: center;
  color: $whiteColor;
  position: fixed;
  bottom:30px;
  right:20px;
  cursor: pointer;
  box-shadow: -4px 6px 25px #666;
  display: none;
}
.callback:hover {
  background-color: #333;
}
.heart {
  position: absolute;
  transform-origin:50% 8;
  animation: heart 0.5s infinite linear;
  -webkit-animation: heart 0.5s infinite linear;
  -moz-animation: heart 0.5s infinite linear;
  -ms-animation: heart 0.5s infinite linear;
  z-index: 100;
}
@keyframes heart{
  0%{
    transform:rotate(-45deg);
  }
  50%{
    transform:rotate(0deg);
  }
  100%{
    transform:rotate(-45deg);
  }
}
/*new page*/
.header { background-color: #000;}
.new-tip:after {
  content:"";
  clear: both;
  display: block;
  height:0;
}
.header .logo {
  display: block;
  width:75px;
  float: left;
  padding: 10px 0;
}
.user {
  float: right;
}
.user .login {
  background-color: #ea4c89;
}
.user .login:hover {
  box-shadow: 0px 4px 12px #999;
  background-color: #ed145b;
  padding: 62px 30px 43px;
}
.user .register {
  position: relative;
}
.user .register:hover {
  color:#ea4c89;
}
.user a {
  color: #fff;
  font-size: 1em;
  padding: 52px 30px 53px;
  float: left;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
}
.user a i {
  margin-right: 6px;
}
.subtile {
  font-size: 1.125em;
  font-weight: bold;
}
.subtile >span{
  margin-left: 6px;
  font-weight: normal;
  color: #666;
  font-size: 0.875em;
  font-style: italic;
}
.myself {
  position: absolute;
  right: 25px;
  top:25px;
  padding:17px 10px;
  color: #33cc33;
  border-radius: 100%;
  border:1px solid  #33cc33;
  font-size: 1.5em;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
}
.reprint {
  color:#ea4c89;
  border:1px solid  #ea4c89;
}
.news-top {
  padding:60px 0 20px;
  position: relative;
}
.new-time span {
  font-size: 0.75em;
  color:#666;
  margin-right: 5px;
}
.new-time {
  float: left;
  margin-top: 2px;
}
.new-tip {
  margin-top: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #f1f0f0;
}
.new-tip:after,.new-page:after{
  content:"";
  clear: both;
  display: block;
  height:0;
}
.new-tip .share_news {
  margin-top: -6px;
  font-size: 0.75em;
}
.share_news > span{
  float: left;
  margin-top: 8px;
}
.new {
  position: relative;
  padding: 120px 100px 80px;
  border: 1px solid #e0dfdf;
  margin-bottom: 40px;
  box-shadow: 0px 0 15px #f1f0f0;
  background-color: #fff;
}
.new h2 {
  text-align: center;
}
.new-content{
  padding: 30px 0;
  min-height: 400px;
}
.new-content img {
  margin-bottom: 20px;
}
.new-content p,.new-content span {
  font-size: 0.875em;
  line-height: 1.7;
  text-align: left;
  text-indent: 24px;
  color: #666;
}
.new-content table {
  width: 100%;
  text-align: center;
  border: 1px solid #e0dfdf;
  margin: 20px 0;
}
.new-content table th {
  text-align: center;
  padding: 6px 0;
  border-bottom: 1px solid #e0dfdf;
}
.new-content table td {
  padding:6px 0;
  border-bottom: 1px solid #e0dfdf;
}
.new-content table tr:nth-child(odd) td{
  background-color: #eee;
}
.new-content table tr:last-child td {
  border-bottom: 0;
}
.new-page {
  padding: 10px 0;
  border-bottom: 1px solid #e0dfdf;
}
.new-page a,.new-page a>span{
  cursor: pointer;
}
.new-page a:hover {
  color:#33cc33;
}
.new-page .new-prev {
  float: left;
}
.new-page .no-new,.new-page .no-new span{
  cursor: default;
}
.new-page .no-new:hover {
  color:#404042;
}
.new-page .new-next {
  float: right;
}
.new-bg {
  background-color: #f9f9f9;
}
.fadeInRight {
  transform-origin:50% 100%;
  animation: fadeInRight 0.8s;
  -webkit-animation: fadeInRight 0.8s;
  -moz-animation: fadeInRight 0.8s;
  -ms-animation: fadeInRight 0.8s;
}
@keyframes fadeInRight{
  0%{
    transform: translate(150px,0);
    filter: blur(3px);
    opacity: 0;
  }
  100%{
    transform: translate(0,0);
    filter: blur(0);
    opacity: 1;
  }
}
@-webkit-keyframes fadeInRight{
  0%{
    -webkit-transform: translate(150px,0);
    -webkit-filter: blur(3px);
    opacity: 0;
  }
  100%{
    -webkit-transform: translate(0,0);
    filter: blur(0);
    opacity: 1;
  }
}
@-moz-keyframes fadeInRight{
  0%{
    -moz-transform: translate(150px,0);
    -moz-ilter: blur(3px);
    opacity: 0;
  }
  100%{
    -moz-transform: translate(0,0);
    -moz-filter: blur(0);
    opacity: 1;
  }
}
.no-like,.like{
  float: right;
  margin-left: 10px;
  padding:10px 15px;
  font-size: 0.875em;
  cursor: pointer;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
}
.no-like {
  border:2px solid #404042;
}
.like {
  border:2px solid #ea4c89;
}
.no-like i,.like i {
  margin:0 4px;
  font-size: 1.5em;
  margin-top: -8px;
  vertical-align: middle;
}
.like i {
  color: #ea4c89;
}
.like > em{
  color: #ea4c89;
  font-weight: bold;
  cursor:pointer;
}
.no-like > em{
  color: #404042;
  font-weight: bold;
  cursor: pointer;
}
.no-like i {
  color:#404042;
}
.no-like:hover {
  background-color: #404042;
  color: #fff;
  border-radius: 6px;
}
.like:hover {
  background-color: #ea4c89;
  color: #fff;
  border-radius: 6px;
}
.no-like:hover em,.no-like:hover i,.like:hover i,.like:hover em{
  color: #fff;
}
.feel {
  padding: 10px 0;
}
.code {
  text-align: left;
  background-color: #eee;
  padding: 20px;
  line-height: 1.7;
  font-size: 0.875em;
  border: 1px solid #ccc;
  margin-bottom: 20px;
}
.code .modus,.new-content .modus{
  color:#0000ff;
}
.code .zs,.new-content .zs{
  color:#33cc33;
}
.new h2 {
  font-family: "Microsoft Yahei",sans-serif;
  font-weight: bold;
}
.new-content h3 {
  font-size: 1.125em;
  font-weight: bold;
  text-shadow: 2px 0px 6px #ea4c89;
}
#bdshare_weixin_qrcode_dialog.bd_weixin_popup{
  height:auto!important;
}
.jdqslider {
  overflow: hidden;
  position: relative;
  width: 400px;
  height:250px;
}
.jdqslider .img {
  height:100%;
  position: relative;
}
.jdqslider .btn {
  width: 30px;
  height: 50px;
  background-color: #808080;
  opacity: 0.5;
  position: absolute;
  top: 50%;
  margin-top: -25px;
  cursor: pointer;
  text-align: center;
  line-height: 50px;
  font-size: 40px;
  color: #fff;
  font-family: "simsun";
  padding:0;
}
.jdqslider .img img {
  display: block;
  height:100%;
}
.jdqslider .btn_l {
  left: 10px;
}
.jdqslider .btn_r {
  right: 10px;
}
.imgbtn li {
  width: 10px;
  height: 10px;
  background-color: #888;
  border-radius: 50%;
  display: inline-block;
  margin: 0px 3px;
  cursor: pointer;
}
.imgbtn li.active {
  background-color: #ff6a00;
}


