@import "reset";
@import "variables";
//compass 的雪碧图处理
$icon: sprite-map("icon/*.png",$spacing: 4px,$layout:smart);
$icons-2x: sprite-map("icons-2x/*.png",$spacing: 4px, $layout:smart);
@mixin fnIconSprite($name){
  width: image-width(sprite-file($icon, $name));
  height: image-height(sprite-file($icon, $name));
  background-image: sprite-url($icon);
  background-position: sprite-position($icon, $name);
  background-repeat: no-repeat;
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx), (max-width: 767px) {
    background-image: sprite-url($icons-2x);
    background-size: (image-width(sprite-path($icons-2x)) / 2) (image-height(sprite-path($icons-2x)) / 2);
    background-position: round(nth(sprite-position($icons-2x, $name), 1) / 2) round(nth(sprite-position($icons-2x, $name), 2) / 2);
    height: image-height(sprite-file($icons-2x, $name)) / 2;
    width: image-width(sprite-file($icons-2x, $name)) / 2;
  }
};
abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, html, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    cursor: url(../images/cursor.ico),auto;
}

/*common css*/
html { font-size:100%;}
body {
  font-family: "Monk",Microsoft Yahei,Arial, Helvetica, sans-serif;
  font-size: 100%;
}
a,a:visited,a:hover,a:active,a:focus { color:$blackColor; outline:none!important; text-decoration:none; }
ul,li {
  list-style:none;
  padding:0;
  margin:0;
}
h1,h2,h3,h4,h5,h6 {
  margin:0;
  padding:0;
}
input,button{
  outline: 0;
}
img {
    height: auto;
    max-width: 100%;
    vertical-align: middle;
    border: 0;
    -ms-interpolation-mode: bicubic;
}
section { position:relative;}
.clear:after,.tags:after{
  content:"";
  clear: both;
  display: block;
  height:0;
}
/*index css*/
.top { 
  position: relative;
  background: url(../images/top.jpg) no-repeat;
  height: 700px;
  background-size: cover;
  background-position: center;
  background-attachment:fixed;
}
.top .top_bg { 
  position: absolute; 
  background-color:#000;
  opacity:0.4;
  height:100%;
  top:0px;
  left:0;
  width: 100%;
}
.top .title {
  color:$whiteColor;
  font-size: 4.375em;
  text-align: center;
  margin: 0;
  position: absolute;
  bottom: 260px;
  left: 0;
  right: 0;
}
/*.head_nav {
  height: 120px;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 10;
}
.head_nav.top .top_bg{
  opacity: 1;
}
.head_nav .nav_link {
  top: 20px;
  left: 80px;
  width: 80px;
  height: 80px;
  padding: 25px 0;
}
.head_nav.top .title {
  display: none;
}*/
.nav_link {
  position: absolute;
  top:100px;
  left:80px;
  width: 100px;
  height:100px;
  border-radius:100%;
  background-color:#000;
  padding: 34px 0;
  cursor: pointer;
  box-shadow: 0px 0px 20px #fff;
}
.nav_link > span {
  display: block;
  width:30px;
  height:6px;
  background-color:$whiteColor;
  margin:0 auto 6px;
  cursor: pointer;
}
.author {
  width: 300px;
  height: 300px;
  border:8px solid $whiteColor;
  border-radius:100%;
  margin: -150px auto 30px;
  overflow: hidden;
  box-shadow: 0px 10px 30px #666;
}
.j_moudel_box1 {
  text-align: center;
  padding-bottom: 60px;
}
.j_moudel_box1 p {
  margin-bottom: 20px;
  font-size: 1.125em;
}
.share li {
  display: inline-block;
}
.share a,.share_news a{
  display: inline-block;
  margin-right: 10px;
}
.share_news {
  float: right;
  margin-top: 12px;
}
.share a.qq,.share_news a.qq{
  @include fnIconSprite(icon1);
}
.share a.wx,.share_news a.wx{
  @include fnIconSprite(icon2);
}
.share a.wb,,.share_news a.wb{
  @include fnIconSprite(icon3);
}
.share a.db{
  @include fnIconSprite(icon4);
}
/*list*/
.j_moudel_box2 {
  background-color:#f9f9f9;
  padding:105px 0 85px;
}
.new_list {
  padding:30px;
  background-color:$whiteColor;
  border: 1px solid #e0dfdf;
  box-shadow: 0px 0 1px #f1f0f0;
  margin-bottom: 50px;
}
.recommend {
  background-color:$whiteColor;
  border:1px solid #e0dfdf;
  margin-bottom: 25px;
}
.new_recent {
  padding:0 20px 25px;
}
.news_mark {
  margin-top: 10px;
}
.news_mark span{
  display: inline-block;
  margin-right:5px;
}
.recommend >h2 {
  padding:15px 0;
  text-align: center;
  border-bottom:1px solid #d7d7d7;
  box-shadow: 0px 0 1px #f1f0f0;
  margin-bottom: 20px;
}
.new_href {
  display: block;
}
.introduction{
  color:#ed145b
}
.point {
  width: 10px;
  height:10px;
  border-radius:100%;
  background-color:#e0dfdf;
}
.j_txt {
  font-size: 0.875em;
  margin-top: 6px;
}
.search {
  position:relative;
  margin-bottom: 25px;
}
.search_text {
  width:100%;
  border:1px solid #d7d7d7;
  height:50px;
  padding:0 80px 0 20px;
}
.search_btn {
  width: 48px;
  height:48px;
  background:#ea4c89 url(../images/icon/search.png) no-repeat;
  background-position:center;
  border:0;
  position: absolute;
  right: 0;
  top:1px;
}
.more {
  float: left;
}
.j_box {
  padding-top:20px;
}
.j_box >h2 {
  font-size: 1.375em;
  margin-bottom: 15px;
}
.j_box p {
  line-height: 1.7;
}
.news_end {
  margin-top: 40px;
}
.news_end .more {
  text-align: center;
  display: inline-block;
  padding:15px 35px;
  background-color:#ea4c89;
  color:$whiteColor;
}
.news_end .more:hover{
    background-color: #ed145b;
    box-shadow: 0px 0px 10px #ea4c89;
}
.tags li {
  border:1px solid #d7d7d7;
  text-align: center;
  margin-right:10px;
  float: left;
  margin-bottom:5px;
}
.tags li a {
  padding: 6px 18px;
  display: block;;
  font-size: 0.875em;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
}
.tags li:hover a{
  background-color:#333;
  color:#fff;
}
/*page*/
.page li{
  float: left;
  margin-right:10px;
  text-align: center;
}
.page li a {
  display: block;
  border:1px solid #333;
  padding: 15px 35px;
  font-size: 1.25em;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
}
.page li:hover a,.page li.active a{
  color:$whiteColor;
  border:1px solid #fff;
  background-color: #000;
}
.page li span {
  display: block;
  margin-top: 20px;
  letter-spacing: 2px;
  margin-left: 4px;
}
/*foot*/
.foot {
  background-color: #333;
  padding: 25px 0;
}
.copyright {
  color:#666;
  font-family:"Microsoft Yahei";
  font-size: 0.875em;
}
.callback {
  padding:10px 20px;
  background-color: #000;
  font-size: 2em;
  text-align: center;
  color: $whiteColor;
  position: fixed;
  bottom:30px;
  right:20px;
  cursor: pointer;
  box-shadow: -4px 6px 25px #666;
  display: none;
}