@font-face {
    font-family: 'Monk';
    src: url('../fonts/Monk.otf?__inline'); /* IE9 Compat Modes */
    src: url('../fonts/Monk.otf?#iefix?__inline') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/monk-webfont.woff2?__inline') format('woff2'), /* Modern Browsers */
    url('../fonts/monk-webfont.woff?__inline') format('woff'), /* Modern Browsers */
    url('../fonts/Monk.ttf?__inline') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
