@font-face {
    font-family: 'Monk';
    src: url('../fonts/Monk.otf'); /* IE9 Compat Modes */
    src: url('../fonts/Monk.otf?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/monk-webfont.woff2') format('woff2'), /* Modern Browsers */
    url('../fonts/monk-webfont.woff') format('woff'), /* Modern Browsers */
    url('../fonts/Monk.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
