<html>
<head>
{% include "../templates/layouts/head.html" %}
<link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css?__inline">
<link rel="stylesheet" href="../css/index.css"/>
<title>新闻详细页面</title>
</head>
<body class="new-bg">
    {% include "../templates/layouts/nav.html" %}
    <div class="container fadeInRight">
        <div class="clearfix news-top">
            <h3 class="subtile">新闻动态<span>NEWS</span></h3>
        </div>
        <div class="new">
            <h2>Nic设计助力我开始打造新型的互联网络平台</h2>
            <span class="myself">原创</span>
            <div class="new-tip">
                <div class="new-time"><span>发布于：2012-08-14  22:42</span><span>浏览：305</span></div>
                <div class="share_news bdsharebuttonbox" data-tag="share_1">
                    <span>分享到：</span>
                    <a href="javascripot:;" class="qq bds_qzone" title="分享给QQ好友" data-cmd="sqq"></a>
                    <a href="javascripot:;" class="qqkj bds_tqq" title="分享到QQ空间" data-cmd="qzone"></a>
                    <a href="javascripot:;" class="wx bds_weixin" title="分享到微信" data-cmd="weixin"></a>
                    <a href="javascripot:;" class="wb bds_tsina" title="分享到微博" data-cmd="tsina"></a>
                </div>
            </div>
            <div class="new-content">
                <!--<img src="../images/news1.jpg"/>
                <p>Nic 设计助力我开始打造新型的互动网络平台，为我开始提供平台设计解决方案，权力助力我开始进军移动互联网领域。敬请期待！</p>
                <p>"我开始"是一个新型的互动网络平台，鼓励人们积极开创健康向上的美好生活。</p>
                <p>"我开始"由一只国际文化的精英团队组建。我们对健康事业身体力行，充满激情和信心。我们捕捉全球前沿的健康咨询。我们立足全国，力争打造中国健身行业的方向标，我们就是"我开始"！</p>
                <span>Nic 设计助力我开始打造新型的互动网络平台，为我开始提供平台设计解决方案，权力助力我开始进军移动互联网领域。敬请期待！</span>
                <table>
                    <tr>
                        <th>性别</th>
                        <th>年龄</th>
                        <th>人数</th>
                    </tr>
                    <tr>
                        <td>男</td>
                        <td>18</td>
                        <td>100</td>
                    </tr>
                    <tr>
                        <td>女</td>
                        <td>20</td>
                        <td>100</td>
                    </tr>
                    <tr>
                        <td>男</td>
                        <td>18</td>
                        <td>100</td>
                    </tr>
                </table>-->
            </div>
            <div class="clearfix feel">
                <span class="like">被赞数:<i class="glyphicon glyphicon-heart-empty"></i><em>300</em></span>
                <span class="no-like">被黑数:<i class="glyphicon glyphicon-thumbs-down"></i><em>123</em></span>
            </div>
            <div class="new-page">
                <a href="#" class="new-prev">上一篇:<span>Nic设计助力我开始打造新型的互联网络平台</span></a>
                <a href="#" class="new-next">下一篇:<span>Nic设计助力我开始打造新型的互联网络平台</span></a>
            </div>
        </div>
    </div>
    {% include "../templates/layouts/footer.html" %}
</body>
{% include "../templates/partials/js.html" %}
<script type="text/javascript" src="../js/index.js"></script>
</html>